MQ_VENDOR=rabbitmq
RABBITMQ_URL=amqp://tolink_prod:replace-with-url-encoded-secret@tolink-rabbitmq:5672/%2Ftolink-prod
TOLINK_MQ_VENDER=rabbitMQ
RABBITMQ_HOST=tolink-rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=tolink_prod
RABBITMQ_PASSWORD=replace-with-a-long-random-secret
RABBITMQ_VHOST=/tolink-prod
