MQ_VENDOR=rabbitmq
RABBITMQ_URL=amqp://tolink_dev:replace-with-url-encoded-secret@tolink-dev-rabbitmq:5672/%2Ftolink-dev
TOLINK_MQ_VENDER=rabbitMQ
RABBITMQ_HOST=tolink-dev-rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=tolink_dev
RABBITMQ_PASSWORD=replace-with-a-long-random-secret
RABBITMQ_VHOST=/tolink-dev
